.sidebar-wrap {
    padding: 0 0 0 15px;
    height: 100%;
    background-color: $light-grey;
}

.sidebar {
    padding: 30px;
    @include max-width($mobile) {
        padding: 15px;
    }
}

.sidebar__title {
    font-size: 20px;
    color: $orange;
    padding-bottom: 10px;
    border-bottom: 1px solid $orange;
}

.sidebar__list {
    position: relative;
    border-bottom: 1px solid $grey;
    padding-right: 65px;
    button {
        background-color: transparent;
        border: 0;
        outline: none;
    }

    &:hover {
        .sidebar__list-delete {
            visibility: visible;
            opacity: 1;
            pointer-events: initial;
        }
    }
}

.sidebar__list-item {
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 20px 0;
    color: $dark-grey;
    background-color: transparent;
    transition: $dur $ease;
    outline: none;
    &.sidebar__list-item--active {
        color: $orange;
    }
}

.sidebar__list-delete {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: $dark-grey;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $dur $ease;
}

.sidebar__btn {
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    padding: 20px 0;
    border: 0;
    outline: none;
    background-color: transparent;
    color: $orange;
	border-bottom: 1px solid $grey;
	&::before {
		content: url('./assets/icons/ico-plus.svg');
    	display: inline-block;
		width: 16px;
		vertical-align: middle;
		margin-right: 10px;
	}
}

