// Colors
$white: #fff;
$black: #000;
$orange-dark:#e35b00;
$orange: #ff6600;
$light-grey: #eee;
$dark-grey: #666;
$grey: #ccc;

$font-default: 'OpenSans', Arial, "Helvetica Neue", Helvetica, sans-serif;

// font-weights
$regular: 400;
$light: 300;
$bold: 700;

// transitions
$dur: 300ms;
$ease: ease;

// Breakpoints
$mobile: '768px';
$tablet: '1024px';
$desktop: '1200px';
