@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import './config/reset';
@import './base/fonts';
@import './config/variables';
@import './components/header';
@import './components/sidebar';

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-default;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
